<!-- Footer -->

<!-- <footer class="p-2 bg-white text-center fixed-bottom"><hr class="my-6 border-gray-200 sm:mx-auto lg:my-8"><span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
    <p>&copy; {% now "Y" %} {{ app_title }} </p></span>
  </footer> -->



  <footer id="#footer" class=" fixed-bottom bg-white">
    <div class="container text-center">
      <span class="block text-sm text-gray-500 dark:text-gray-400">
        <p>&copy; {% now "Y" %} {{ app_title }} </p>
      </span>
    </div>
  </footer>