{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block mycss %}
{{ block.super }}

<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock mycss %}

{% block content %}
<div class="container">
    
{% if filter %}
<div class="row">    
    <button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Search <i class="bi bi-search"></i>
      </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form action="" method="get" class="form form-inline mb-2">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Search</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    
                                    {% bootstrap_form filter.form  %}
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Search <i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>

                
            {% endif %}

            <div class="row">
{% render_table table %}
</div>
</div>
{% endblock %}