{% load i18n static admin_volt %}

<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
            <div class="d-flex align-items-center">
                <!-- Search form -->
{#                <form class="navbar-search form-inline" id="navbar-search-main">#}
{#                    <div class="input-group input-group-merge search-bar">#}
{#                          <span class="input-group-text" id="topbar-addon">#}
{#                            <svg class="icon icon-xs" x-description="Heroicon name: solid/search"#}
{#                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"#}
{#                                 aria-hidden="true">#}
{#                              <path fill-rule="evenodd"#}
{#                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"#}
{#                                    clip-rule="evenodd"></path>#}
{#                            </svg>#}
{#                          </span>#}
{#                        <input type="text" class="form-control" id="topbarInputIconLeft" placeholder="Search"#}
{#                               aria-label="Search" aria-describedby="topbar-addon">#}
{#                    </div>#}
{#                </form>#}
                <!-- / Search form -->
            </div>
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center text-black">
                <li class="nav-item">
                    <a type="button" href="{% url 'admin:system_notification_changelist' %}" class="nav-link position-relative">
                        <i class="bi bi-bell-fill text-black fs-5 p-0 m-0"></i>
                    <span id="notification_count" class="position-absolute top-25 start-75 translate-middle badge rounded-pill bg-danger"></span>
                    </a>
                </li>
                <li class="nav-item dropdown ms-lg-3">
                    <a class="nav-link pt-1 px-0 text-black" href="#" role="button"
                       aria-expanded="false">
                       <i class="bi bi-person-circle"></i>
                            <strong>{{ request.user.username }}</strong>
                    </a>
                    
                </li>
                <li class="nav-item dropdown ms-lg-3 text-black">
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'admin:logout' %}">
                        <i class="bi bi-box-arrow-left"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>